<a href="https://colab.research.google.com/github/6vamsi/ML-Lab/blob/main/ML_Lab12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exploratory Data Analysis(EDA):**

Exploratory Data Analysis (EDA) is a crucial initial step in data science projects. It involves analyzing and visualizing data to understand its key characteristics, uncover patterns, and identify relationships between variables refers to the method of studying and exploring record sets to apprehend their predominant traits, discover patterns, locate outliers, and identify relationships between variables. EDA is normally carried out as a preliminary step before undertaking extra formal statistical analyses or modeling.

**Key aspects of EDA include:**

**Distribution of Data:** Examining the distribution of data points to understand their range, central tendencies (mean, median), and dispersion (variance, standard deviation).

**Graphical Representations:** Utilizing charts such as histograms, box plots, scatter plots, and bar charts to visualize relationships within the data and distributions of variables.

**Outlier Detection:** Identifying unusual values that deviate from other data points. Outliers can influence statistical analyses and might indicate data entry errors or unique cases.

**Correlation Analysis:** Checking the relationships between variables to understand how they might affect each other. This includes computing correlation coefficients and creating correlation matrices.

**Handling Missing Values:** Detecting and deciding how to address missing data points, whether by imputation or removal, depending on their impact and the amount of missing data.

**Summary Statistics:** Calculating key statistics that provide insight into data trends and nuances.

**Testing Assumptions:** Many statistical tests and models assume the data meet certain conditions (like normality or homoscedasticity). EDA helps verify these assumptions

### **12. Exploratory Data Analysis for Classification using Pandas or Matplotlib.**

In [6]:
import pandas as pd

# Load the dataset
data = pd.read_csv('/content/Lab13.csv')

In [7]:
# Get summary statistics for numerical columns
print(data.describe())

             age       sex        cp    trestbps        chol       fbs  \
count   6.000000  6.000000  6.000000    6.000000    6.000000  6.000000
mean   60.000000  0.666667  3.166667  137.500000  237.666667  0.166667
std     9.715966  0.516398  1.329160   14.053469   33.134071  0.408248
min    41.000000  0.000000  1.000000  120.000000  204.000000  0.000000
25%    60.500000  0.250000  2.500000  130.000000  211.750000  0.000000
50%    62.500000  1.000000  4.000000  135.000000  231.000000  0.000000
75%    66.000000  1.000000  4.000000  143.750000  259.250000  0.000000
max    67.000000  1.000000  4.000000  160.000000  286.000000  1.000000

       restecg     thalach     exang   oldpeak     slope        ca      thal  \
count      6.0    6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean       2.0  141.833333  0.500000  2.300000  2.166667  1.500000  4.333333
std        0.0   23.293060  0.547723  0.804984  0.752773  1.224745  1.751190
min        2.0  108.000000  0.000000  1.400000  1.000000  0.000000  3.000000
25%        2.0  129.750000  0.000000  1.700000  2.000000  0.500000  3.000000
50%        2.0  141.000000  0.500000  2.350000  2.000000  2.000000  3.500000
75%        2.0  157.500000  1.000000  2.550000  2.750000  2.000000  5.500000
max        2.0  172.000000  1.000000  3.600000  3.000000  3.000000  7.000000

       Heartdisease
count      6.000000
mean       1.666667
std        1.632993
min        0.000000
25%        0.250000
50%        1.500000
75%        2.750000
max        4.000000

In [8]:
# Display all column names in the dataset
print(data.columns)

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'Heartdisease'],
      dtype='object')

In [11]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
data = pd.read_csv('/content/Lab13.csv')

# Set a visual style for the plots
sns.set(style="whitegrid")

# 1. Basic Information and Summary Statistics
print(data.info())  # Overview of dataset structure
print(data.describe())  # Summary statistics for numerical features
print(data.head())  # Peek at the first few rows of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           6 non-null      int64
 1   sex           6 non-null      int64
 2   cp            6 non-null      int64
 3   trestbps      6 non-null      int64
 4   chol          6 non-null      int64
 5   fbs           6 non-null      int64
 6   restecg       6 non-null      int64
 7   thalach       6 non-null      int64
 8   exang         6 non-null      int64
 9   oldpeak       6 non-null      float64
 10  slope         6 non-null      int64
 11  ca            6 non-null      int64
 12  thal          6 non-null      int64
 13  Heartdisease  6 non-null      int64
dtypes: float64(1), int64(13)
memory usage: 800.0 bytes
None
             age       sex        cp    trestbps        chol       fbs  \
count   6.000000  6.000000  6.000000    6.000000    6.000000  6.000000
mean   60.000000  0.666667  3.166667  137.500000  237.666667  0.166667
std     9.715966  0.516398  1.329160   14.053469   33.134071  0.408248
min    41.000000  0.000000  1.000000  120.000000  204.000000  0.000000
25%    60.500000  0.250000  2.500000  130.000000  211.750000  0.000000
50%    62.500000  1.000000  4.000000  135.000000  231.000000  0.000000
75%    66.000000  1.000000  4.000000  143.750000  259.250000  0.000000
max    67.000000  1.000000  4.000000  160.000000  286.000000  1.000000

       restecg     thalach     exang   oldpeak     slope        ca      thal  \
count      6.0    6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean       2.0  141.833333  0.500000  2.300000  2.166667  1.500000  4.333333
std        0.0   23.293060  0.547723  0.804984  0.752773  1.224745  1.751190
min        2.0  108.000000  0.000000  1.400000  1.000000  0.000000  3.000000
25%        2.0  129.750000  0.000000  1.700000  2.000000  0.500000  3.000000
50%        2.0  141.000000  0.500000  2.350000  2.000000  2.000000  3.500000
75%        2.0  157.500000  1.000000  2.550000  2.750000  2.000000  5.500000
max        2.0  172.000000  1.000000  3.600000  3.000000  3.000000  7.000000

       Heartdisease
count      6.000000
mean       1.666667
std        1.632993
min        0.000000
25%        0.250000
50%        1.500000
75%        2.750000
max        4.000000
   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   63    1   1       145   233    1        2      150      0      2.3      3
1   67    1   4       160   286    0        2      108      1      1.5      2
2   67    1   4       120   229    0        2      129      1      2.6      2
3   41    0   2       130   204    0        2      172      0      1.4      1
4   62    0   4       140   268    0        2      160      0      3.6      3

   ca  thal  Heartdisease
0   0     6             0
1   3     3             2
2   2     7             1
3   0     3             0
4   2     3             3

In [ ]:
# Check for missing values
print(data.isnull().sum())

# If there are missing values, you can visualize them (optional)
sns.heatmap(data.isnull(), cbar=False, cmap='viridis')
plt.title('Missing Values in the Dataset')
plt.show()

In [ ]:
# Summary of numerical features
print(data.describe())

# Plot histograms of numerical features
data.hist(figsize=(15, 10), bins=30)
plt.tight_layout()
plt.show()

In [ ]:
# 2. Plot the distribution of the target variable (OUTCOME)
plt.figure(figsize=(8,6))
sns.countplot(data=data, x='OUTCOME')
plt.title('Distribution of Outcome (Target Variable)')
plt.xlabel('Outcome (0 = No Claim, 1 = Claim)')
plt.ylabel('Count')
plt.show()

In [ ]:
# Plot the distribution of age groups and outcome
plt.figure(figsize=(10,6))
sns.countplot(data=data, x='AGE', hue='OUTCOME')
plt.title('Age Distribution by Outcome')
plt.xlabel('Age Group')
plt.ylabel('Count')
plt.show()

# Plot the distribution of vehicle types and outcome
plt.figure(figsize=(10,6))
sns.countplot(data=data, x='TYPE_OF_VEHICLE', hue='OUTCOME')
plt.title('Vehicle Type by Outcome')
plt.xlabel('Vehicle Type')
plt.ylabel('Count')
plt.show()

# Plot distribution of gender and outcome
plt.figure(figsize=(8,6))
sns.countplot(data=data, x='GENDER', hue='OUTCOME')
plt.title('Gender Distribution by Outcome')
plt.xlabel('Gender')
plt.ylabel('Count')
plt.show()

In [ ]:
# Exclude non-numeric columns before calculating the correlation matrix
numeric_data = data.select_dtypes(include=['float64', 'int64'])

# 4. Analyze the correlation between numerical features
plt.figure(figsize=(12,8))
corr = numeric_data.corr()  # Compute correlation matrix only on numeric columns
sns.heatmap(corr, annot=True, cmap="coolwarm", fmt=".2f")
plt.title('Correlation Heatmap of Numerical Features')
plt.show()

In [ ]:
# 5. Relationship between Credit Score and Outcome
plt.figure(figsize=(8,6))
sns.histplot(data=data, x='CREDIT_SCORE', hue='OUTCOME', multiple="stack", kde=True)
plt.title('Credit Score Distribution by Outcome')
plt.xlabel('Credit Score')
plt.ylabel('Density')
plt.show()

In [ ]:
# 6. Explore the distribution of vehicle types in relation to the outcome
plt.figure(figsize=(10,6))
sns.countplot(data=data, x='TYPE_OF_VEHICLE', hue='OUTCOME')
plt.title('Vehicle Type vs Outcome')
plt.xlabel('Type of Vehicle')
plt.ylabel('Count')
plt.show()

In [ ]:
# Driving Experience vs Outcome
plt.figure(figsize=(10,6))
sns.countplot(data=data, x='DRIVING_EXPERIENCE', hue='OUTCOME')
plt.title('Driving Experience vs Outcome')
plt.xlabel('Driving Experience')
plt.ylabel('Count')
plt.show()

In [ ]:
# 7. Analyze the relationship between Annual Mileage and Outcome
plt.figure(figsize=(8,6))
sns.boxplot(data=data, x='OUTCOME', y='ANNUAL_MILEAGE')
plt.title('Annual Mileage vs Outcome')
plt.xlabel('Outcome')
plt.ylabel('Annual Mileage')
plt.show()